[advisories]
ignore = [
    # xml-rs is Unmaintained
    # Inactionable, since this is a transitive dependency of serde-xml-rs
    # Only used in test code.
    "RUSTSEC-2022-0048",

    # hashbrown: Borsh serialization of HashMap is non-canonical
    # Borsh is unused
    "RUSTSEC-2024-0402",

    # paste - no longer maintained
    # Transitive dev-dependency of rmp-serde
    "RUSTSEC-2024-0436",

    # Ignore the time "Denial of Service via Stack Exhaustion" advisory
    # During tests no untrusted input is parsed.
    # For downstream users they should use a more recent version of time, which has this issue fixed.
    "RUSTSEC-2026-0009",
]
# warn for categories of informational advisories
informational_warnings = [
    "unmaintained",
    "unsound",
]

# Output Configuration
[output]
# exit on error if unmaintained dependencies are found
deny = [
    "unmaintained",
    "unsound",
]
# Only print information on error
quiet = false
# Show inverse dependency trees along with advisories (default: true)
show_tree = true

[yanked]
enabled = true # Warn for yanked crates in Cargo.lock (default: true)
update_index = true # Auto-update the crates.io index (default: true)
